    <img class="modal__card--img" src={{poster_path}} alt={{title}} />
    <div class="modal__card--info">
        <h2 class="modal__card--name">{{original_title}}</h2>
        <table class="modal__card--table">
            <tr>
                <th class="modal__card--item">Vote / Votes</th>
                <td class="modal__card--data"><span class="modal__card--data-vote">{{vote_average}}</span> / <span
                        class="modal__card--data-votes">{{vote_count}}</span></td>
            </tr>
            <tr>
                <th class="modal__card--item">Popularity </th>
                <td class="modal__card--data">{{popularity}}</td>
            </tr>
            <tr>
                <th class="modal__card--item">Original Title </th>
                <td class="modal__card--data">{{original_title}}</td>
            </tr>
            <tr>
            <th class="modal__card--item">Genre </th>
            <td class="modal__card--data">{{genre_ids}}</td>
        </tr>
    </table>
    <h3 class="modal__card--about">ABOUT</h3>
    <p class="modal__card--about-text">{{overview}}</p>
    <div class="modal__btn--box">
        <button class="modal__btn--watched btn" data-modal-watched>ADD TO WACHED</button>
        <button class="modal__btn--queue btn" data-modal-queue>ADD TO QUEUE</button>
     </div>
