{{#each this}}
  <li class="section-movies__card">
    <img
      src='https://image.tmdb.org/t/p/w300/{{poster_path}}'
      alt='Image of {{original_title}}'
      class='movies-card__img'
    />
    {{#if title}}
      <h3 class='movies-card__title'>{{title}}</h3>
    {{else}}
      <h3 class='movies-card__title'>{{name}}</h3>
    {{/if}}

    {{#each genre_ids}}
      <ul class='movies-card__genres-list'>
        <li class='movies-card__genres-item'>{{this}}</li>
      </ul>
    {{/each}}

    <span class='delimiter'>|</span>

    {{#if release_date}}
      <p class='movies-card__date'>{{release_date}}</p>
    {{else}}
      <p class='movies-card__date'>{{first_air_date}}</p>
    {{/if}}
  </li>
{{/each}}