{{#each this}}
  <li class="search-list__item" id={{id}}>{{title}} ({{years}}) <span class="search-list__rating">{{vote_average}}</span>

     {{!-- <table class="search-table">
            <tr class="search-table__item">
                <td class="search-table__title">{{title}}({{years}})</td>
                <td class="search-table__rating">{{vote_average}}</td>
            </tr>
     </table> --}}
  </li>
{{/each}}