<ul class='team-list'>
  <li class='team-list__name'>
    <ul class='name'>
      <li class='name__item active'><span>Пирон Евгений</span></li>
      <li class='name__item'><span>Жабоедова Анастасия</span></li>
      <li class='name__item'><span>Бондарь Виктор</span></li>
      <li class='name__item'><span>Дзема Виталий</span></li>
      <li class='name__item'><span>Хливненко Ольга</span></li>
      <li class='name__item'><span>Варуник Виталий</span></li>
      <li class='name__item'><span>Остафийчук Алексей</span></li>
    </ul>
  </li>
  <li class='team-list__description'>
    <ul class='description'>
      <li class='description__item active'>
        <div class='description__wrapper'>
          <picture class='description__picture'>
            <source srcset='{{piron.webp}} 1x, {{piron2x.webp}} 2x' type='image/webp' />
            <source srcset='{{piron.jpg}} 1x, {{piron2x.jpg}} 2x' type='image/jpeg' />
            <img class='description__img' src='{{piron.jpg}}' alt='Пирон Женя' width='85' height='85' />
          </picture>
        </div>
        <p class='description__text'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut
        </p>
      </li>
      <li class='description__item'>
        <div class='description__wrapper'>
          <picture class='description__picture'>
            <source srcset='{{anastasia.webp}} 1x, {{anastasia2x.webp}} 2x' type='image/webp' />
            <source srcset='{{anastasia.jpg}} 1x, {{anastasia2x.jpg}} 2x' type='image/jpeg' />
            <img class='description__img' src='{{anastasia.jpg}}' alt='Анастасія Жабоєдова' width='85' height='85' />
          </picture>
        </div>
        <p class='description__text'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
        </p>
      </li>
      <li class='description__item'>
        <div class='description__wrapper'>
          <picture class='description__picture'>
            <source srcset='{{viktor_bondar.webp}} 1x, {{viktor_bondar2x}}.webp 2x' type='image/webp' />
            <source srcset='{{viktor_bondar.jpg}} 1x, {{viktor_bondar2x.jpg}} 2x' type='image/jpeg' />
            <img class='description__img' src='{{viktor_bondar.jpg}}' alt='Виктор Бондар' width='85' height='85' />
          </picture>
        </div>
        <p class='description__text'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam

        </p>
      </li>
      <li class='description__item'>
        <div class='description__wrapper'>
          <picture class='description__picture'>
            <source srcset='{{vitalik_dzema.webp}} 1x, {{vitalik_dzema2x.webp}} 2x' type='image/webp' />
            <source srcset='{{vitalik_dzema.jpg}} 1x, {{vitalik_dzema2x.jpg}} 2x' type='image/jpeg' />
            <img class='description__img' src='{{vitalik_dzema.jpg}}' alt='Виталик Дзема' width='85' height='85' />
          </picture>
        </div>
        <p class='description__text'>
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
        </p>
      </li>
      <li class='description__item'>
        <div class='description__wrapper'>
          <picture class='description__picture'>
            <source srcset='{{Olga.webp}} 1x, {{Olga2x.webp}} 2x' type='image/webp' />
            <source srcset='{{Olga.jpg}} 1x, {{Olga2x.jpg}} 2x' type='image/jpeg' />
            <img class='description__img' src='{{Olga.jpg}}' alt='Ольга Хливненко' width='85' height='85' />
          </picture>
        </div>
        <p class='description__text'>

          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
        </p>
      </li>
      <li class='description__item'>
        <div class='description__wrapper'>
          <picture class='description__picture'>
            <source srcset='{{vitalii_varunyk.webp}} 1x, {{vitalii_varunyk2x.webp}} 2x' type='image/webp' />
            <source srcset='{{vitalii_varunyk.jpg}} 1x, {{vitalii_varunyk2x.jpg}} 2x' type='image/jpeg' />
            <img class='description__img' src='{{vitalii_varunyk.jpg}}' alt='Віталій Варуник' width='85' height='85' />
          </picture>
        </div>
        <p class='description__text'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
        </p>
      </li>
      <li class='description__item'>
        <div class='description__wrapper'>
          <picture class='description__picture'>
            <source srcset='{{oleksii_ostafiichuk.webp}} 1x, {{oleksii_ostafiichuk2x.webp}} 2x' type='image/webp' />
            <source srcset='{{oleksii_ostafiichuk.jpg}} 1x, {{oleksii_ostafiichuk2x.jpg}} 2x' type='image/jpeg' />
            <img class='description__img' src='{{oleksii_ostafiichuk.jpg}}' alt='Остафийчук Алексй' width='85'
              height='85' />
          </picture>
        </div>
        <p class='description__text'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam

        </p>
      </li>
    </ul>
  </li>
</ul>